.xivita-author {
  .author-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .author-entry {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 22em !important;
    flex: 0 1 22em !important;
    margin: .5rem !important;
    padding: 1em !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    border-radius: 1em !important;
    max-width: 80vw !important;
  }
  .author-avatar {
    width: 6em !important;
    height: auto !important;
    padding: .5em !important;

    img {
      border-radius: 50% !important;
    }
  }
  .author-details-name {
    font-family: Dragon Fire, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, "Droid Serif", Times, "Source Serif Pro", serif;
    letter-spacing: .1em !important;
    text-transform: uppercase !important;
  }

  .author-details-character {
    display: block !important;
    font-size: .8em !important;
  }
}
.xivita-author-social {
  font-size: 1.35em !important;
  margin-top: .5rem !important;
}
/*! Box */
.icon-authorsocial {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin: .01em !important;
  padding: .3em !important;
  background-color: #f6c011 !important;
  border-radius: .5em !important;
  height: 32px !important;

  svg {
    fill: #1a1a1a !important;
    height: 1em !important;
    width: auto !important;
    margin-top: 9px !important;
  }

  a {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
}

.icon-streamersocial {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin: .01em !important;
  padding: .3em !important;
  background-color: #f6c011 !important;
  border-radius: .5em !important;
  height: 32px !important;

  svg {
    fill: #1a1a1a !important;
    height: 1em !important;
    width: auto !important;
    margin-top: 0 !important;
  }
}

.pp-multiple-authors-wrapper .avatar, multiple-authors-target-shortcode .avatar, pp-multiple-authors-layout-boxed .avatar, .pp-multiple-authors-wrapper .photo, multiple-authors-target-shortcode .photo, pp-multiple-authors-layout-boxed .photo {
  position: static !important;
  float: left !important;
  margin-right: 1em !important;
  width: 80px !important;
  height: 80px !important;
  min-height: 80px !important;
  border-radius: .5em !important;
}